*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    background-color: #FF9F45;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 8rem;
    top: 0;
}
.logo{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo > .logo-icon{
    width: 100%;
    max-width: 7rem;
}
.logo > .logo-txt{
    color: white;
    font-size: 3.5vw;
    margin-left: 1%;
}
.navbutts{
    margin-right: 1%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbutt{
    text-decoration: none;
    color: #FF9F45;
    font-size: 2.5vw;
    padding: 0.2rem;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.nav-icon{
    width: 100%;
    max-width: 5rem;
    margin-left: 5px;
    margin-right: 5px;
}
/* content */
.content{
    display: flex;
    margin-top: 8rem;
}
.CartContainer{
	width: 100%;
	height: 90%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
	font-size: 3vw;
}


.Header{
	margin: auto;
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about {
	
    font-size: 2vw;
}
.Heading{
	font-size: 2vw;
	font-weight: 700vw;
	color: #2F3841;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2vw;
}

.image-box{
	width: 15%;
	text-align: center;
	font-size: 2vw;

}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-weight: 600;
	color: #909090;
	font-size: 1.5vw;

}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1vw;

}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 900;
	color: #202020;
	cursor: pointer;
	font-size: 3vw;
}
.count{
	font-size: 20px;
	font-weight: 600;
	color: #202020;
	font-size: 2vw;
}

.prices{
	height: 100%;
	text-align: right;
	font-size: 2vw;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-weight: 800;
	color: #202020; 
	font-size: 2vw;
}
.Action{
	font-size: 14px;
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
	font-size: 2vw;
}
.save{
	padding-top: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
	font-size: 2vw;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	font-size: 1.5vw;
}

.pad{
	margin-top: 90px;
}


.checkout{
	float: right;
	margin-right: 10%;
	width: 28%;
	font-size: 3vw;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 2vw;
}
.Subtotal{
	font-size: 22px;
	font-size: 2vw;
	font-weight: 700;
	color: #202020;
}

.total-amount{
	font-size: 3vw;
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 76px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 5vw;
	font-weight: 600;
	color: #202020;
}

.img {

	height: 120px;
	
}
.img2 {
	height: 120px;
}
.img3 {
	height: 120px;
}
.img4{
	height: 120px;
}
.img5{
	height: 120px;
}

@media (max-width: 800px) {
    .CartContainer {
      flex-direction: column;
    }
    .Cart-Items{
        flex:100%;
    }
    
    .Cart-Items pad{
        width: 50%;
        margin: auto;
    }
    form{
        width:100%;
    }
    form input{
        width: 100%;
    }
    
  }
/* footer */
.footer{
    background-color: #FF9F45;
    max-height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.foot-txt{
    color: white;
    font-size: 2vw;
    margin-left: 1%;
    padding: 5px;
}
