*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    background-color: #FF9F45;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 8rem;
    top: 0;
}
.logo{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo > .logo-icon{
    width: 100%;
    max-width: 7rem;
}
.logo > .logo-txt{
    color: white;
    font-size: 3.5vw;
    margin-left: 1%;
}
.navbutts{
    margin-right: 1%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbutt{
    text-decoration: none;
    color: #FF9F45;
    font-size: 2.5vw;
    padding: 0.2rem;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.nav-icon{
    width: 100%;
    max-width: 5rem;
    margin-left: 5px;
    margin-right: 5px;
}
/* content */
.box{
  margin-top: 100px;
  padding: 20px;
  border: solid #FF9F45 5px;
  border-radius: 15px;
  background-color:#F76E11;
  width: 100%;
  
}

.container {
  border: 2px solid #f5f2f2;
  background-color: #FFBC80;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  /* width: 100%; */
}
.darker {
  border-color: #f5f2f2;
  background-color: #FF9F45;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}
.container img {
  float: left;
  max-width: 5rem;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
} 
.container .shoes{
  margin-top: 12px;
  max-width: 10rem;
  width: 100%;
  border-radius: 0%;
}
.time-right {
  float: right;
  color: rgb(242, 242, 242);
}
.time-left {
  float: left;
  color: rgb(242, 242, 242);
}
#left{
  margin-left: 12px;
  margin-bottom: 10px;
  text-align:left;
}
#right{
  margin-right: 12px;
  margin-bottom: 10px;
  text-align: right;
}
#message{
  max-width: 65rem;
  width: 100%;
  height: 50px;
  margin-left: 10px;
}
#send{
  color: #FC4F4F;
  background-color: #FFBC80;
  max-width: 5rem;
  width: 100%;
  height: 50px;
}

/* footer */
.footer{
    background-color: #FF9F45;
    max-height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.foot-txt{
    color: white;
    font-size: 2vw;
    margin-left: 1%;
    padding: 5px;
}
  
 main section{
    width: 80%;
    margin: auto;
    padding: 20px;
}
  @media (max-width: 1000px) {
    /* .container {
      flex-direction: column;
      width: 100%;
    }
    .darker{
        width: 100%;
    } */
    .box{
        width: 90%;
    }
    #message{
      width: 75%;
    }
    #send{
      width: 17%;
    }
  }