*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1000px){
    .next,.prev{
        width: 2rem;
    }
    
}
/* navbar */
.navbar{
    background-color: #FF9F45;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 8rem;
    top: 0;
    z-index: 999;
}
.logo{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo > .logo-icon{
    width: 100%;
    max-width: 7rem;
}
.logo > .logo-txt{
    color: white;
    font-size: 3.5vw;
    margin-left: 1%;
}
.navbutts{
    margin-right: 1%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbutt{
    text-decoration: none;
    color: #FF9F45;
    font-size: 2.5vw;
    padding: 0.2rem;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.nav-icon{
    width: 100%;
    max-width: 5rem;
    margin-left: 5px;
    margin-right: 5px;
}
/* content */
.content{
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
}
.slider-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.next{
    right: 0;
}
.next,
.prev{
    position: absolute;
    max-width: 3rem;
    margin: 5%;
    margin-top: 15%;
}
.banner{
    width: 70%;
    margin-left: 15%;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 70%;
}
.card-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
}
.card-txt{
    margin-top: 5%;
    font-size: 3vw;
    color: white;
    background-color: #FF9F45;
    padding: 1vw;
    border-radius: 50px;
    opacity: 0;
}
.card-img:hover ~ .card-txt{
    opacity: 1;
    transition: 1s;
}
/* footer */
.footer{
    background-color: #FF9F45;
    max-height: 3rem;
    display: flex;
    align-items: center;
}
.foot-txt{
    color: white;
    font-size: 2vw;
    margin-left: 1%;
    padding: 5px;
}